* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* start header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;

  position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0px;
  bottom: -5px;
  background: #35a22c;
  transition: 0.5s;
}
header .navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link {
  color: #35a22c;
  position: relative;
}
header .navbar-light .navbar-nav .active > .nav-link::before {
  width: 100%;

  background: #35a22c;
}
header a {
  text-decoration: none !important;
}
.logo {
  font-size: 36px;
}
.logo i {
  color: #35a22c;
  margin-right: 10px;
}

/* end header */

/* start carousel */

.carousel__bg {
  height: 100vh;

  object-fit: cover;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#carousel .carousel-caption {
  bottom: 30%;
}

#carousel .carousel-item::before {
  display: block;
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-indicators li.active {
  background-color: #35a22c;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(39, 43, 54, 0.5);
}
/* end carousel */

/* Start products */
.product_title {
  max-width: 750px;
}
.product_title h2 {
  color: #1a1d2d;
  font-size: 36px;
  font-weight: 600;
}
.product_title p {
  color: #585858;
}
#products .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #35a22c;
  color: white;
  font-weight: 500;
}
#products .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
}
#products .nav-item a {
  margin-right: 15px;
}
#products .item_content {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  cursor: pointer;
}
#products .item_content img {
  width: 100%;
  object-fit: cover;
  border-style: none;
}
#products .item_content .title {
  padding: 15px;
  border: 1px solid white;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-color: white;
  transition: 0.3s;
}
#products .item_content .title p {
  color: #585858;
}
#products .item_content:hover .title {
  color: #35a22c;
  border: 1px solid #35a22c;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-color: white;
}

#products .item_content:hover .title p {
  color: #585858;
}
/* End products */

.feature {
  background-image: url(./image/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0 120px;
  position: relative;
}
.feature_title {
  max-width: 750px;
  position: relative;
}
.feature_item {
  padding: 40px 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.feature_title h3 {
  font-size: 36px;
  font-weight: 800;
}
.feature_item i {
  font-size: 48px;
  color: #35a22c;
}
.feature_item h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  padding-top: 30px;
}
.feature_item p {
  color: #fff;
  padding-top: 15px;
}
.feature_item:hover {
  background: #000;
  border-color: #fff;
}
.award {
  position: relative;
  padding: 70px 0;
}
.award_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(./image/memphis_3.png);
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: bottom left;
  opacity: 0.5;
}
.award_left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}
.award_left h2 {
  color: #1a1d2d;
  font-size: 36px;
  font-weight: 800;
}
.award_left p {
  color: #585858;
}
.award_right {
  padding: 45px 0;
}
.award_right img {
  width: 100%;
  height: auto;
}
.award_right p {
  margin-bottom: 1rem;
  color: #585858;
}
.footer {
  background: #222;
}
.footer a {
  color: #aaa;
  text-decoration: none;
  transition: all 0.5s;
}
.footer_icon a {
  margin-right: 10px;
}
.footer_icon i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #454545;
  border-radius: 50%;
  transition: all 0.5s;
}
.footer_copy {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
.footer p {
  color: #aaa;
  font-weight: 400;
}
.footer_icon i:hover {
  border-color: #35a22c;
}
.footer_copy a:hover {
  color: #35a22c;
}
